<li ...attributes>
  {{#if @url}}
    <a
      href={{@url}}
      title={{if @linkTitle @linkTitle}}
      {{on "click" this.onClick}}
    >
      {{yield}}
    </a>
  {{else}}
    {{yield}}
  {{/if}}
</li>
