{{#d-modal-body headerClass="hidden" class="dismiss-notification-confirmation"}}
  {{#if confirmationMessage}}
    {{confirmationMessage}}
  {{else}}
    {{i18n "notifications.dismiss_confirmation.body.default" count=count}}
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    icon="check"
    class="btn-primary"
    action=(action "dismiss")
    label="notifications.dismiss_confirmation.dismiss"}}
  {{d-button
    action=(route-action "closeModal")
    label="notifications.dismiss_confirmation.cancel"
    class="btn-default"}}
</div>
